<html>
    {% extends 'htmlpages/home.html' %}
    {%block body_block%}
       <h1>This is Template of sports</h1>
       <p>sports News</p>
       <div style="color: black; font-size:2.5em">Sunil Gavaskar slams selectors for dropping Cheteshwar Pujara and ignoring Sarfaraz Khan:</div><br>
       <div style="color: orangered; font-size: 1.5em;">Not having millions of followers on social media platforms, like some of the other India stars such as Virat Kohli and Rohit Sharma, is no reason to drop anyone, says Sunil Gavaskar</div>
    {% endblock %}
</html>